<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Sitecore" value="http://nuget1dk1:8181/nuget/sc_packages_preview/" />
    <add key="Sitecore Framework" value="http://nuget1dk1:8181/nuget/sc_framework_packages_preview/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>