<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Sitecore Web Service 2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="Sitecore Web Service 2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://rockstest911.local/sitecore/shell/WebService/Service2.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sitecore Web Service 2Soap"
                contract="HardRocks.SitecoreWebService2Soap" name="Sitecore Web Service 2Soap" />
        </client>
    </system.serviceModel>
</configuration>